h1 {
  font-family:Times new roman;
  background-color:aqua ;
}
p {
  color:blue;
  font-size:13px;
  float:right;
}
hr {
  border:3px solid;
}
.center {
  color:blue;
  font-size:30px;
display:flex;
justify-content:center;

}